{% extends 'base.html.twig' %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="padding-top: 20px;">
  <a class="btn btn-primary active" role="button" href="/"><-</a>
  <h1>{{ entity.FirstName }}</h1>
  <br>
  <a class="btn btn-primary active" role="button" href="/edit/{{ entity.id }}">Edit</a>
</main>
{% endblock %}