{% extends 'base.html.twig' %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="padding-top: 20px;">
  <a class="btn btn-primary active" role="button" href="/"><-</a>
  <a class="btn btn-primary active" role="button" href="/edit/{{ entity.id }}">Edit</a>
  <h1>{{ entity.FirstName }} {{ entity.LastName }}</h1>
  Favourite 
  {% if entity.Favourite is not empty and entity.Favourite == '1' %}
    <input type="checkbox" disabled checked />
  {% else %}
    <input type="checkbox" checked />
  {% endif %}
  <hr>
  <img src="{{ asset('uploads/brochures/' ~ entity.PhotoUrl) }}">
</main>
{% endblock %}