{% extends 'base.html.twig' %}



{% block body %}


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h1>{{ entity.FirstName }}</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/symfony-app/src/Controller/TestController.php'|file_link(0) }}">src/Controller/TestController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/symfony-app/templates/test/index.html.twig'|file_link(0) }}">templates/test/index.html.twig</a></code></li>
    </ul>
</main>
{% endblock %}
